<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>About</title>
        <link rel="stylesheet" href="css/about-styles.css" />
    </head>

<body>
    <section id="about">
        
        <main>
            <p>Natasha began performing over twenty years ago from a tree stump on her lawn. Little did her parents know, her three-year-old rendition of "Twinkle Twinkle Little Star" would spiral into the blossoming career she has today.</p>
            
            <p>Growing up, Natasha spent most of her time singing and touring across North America with The Bach Children's Chorus and starring in many community theatre shows. For high school, she attended Wexford School for the Arts for film and musical theatre, and eventually went on to study voice performance at the prestigious Schulich School of Music at McGill University in Montréal.</p>
            
            <p>However, unsatisfied with the rigidity of the opera world, Natasha sought refuge at The Montréal Improv Theatre where she was encouraged to be herself and trained as a comedian. It was in her third year of university, after signing with her agent in Toronto, that she made the crazy decision to leave school to pursue her acting career.</p>
            
            <p>And only four days after dropping out, Natasha booked her first professional musical. The show was nominated for a 2012 Dora Award for "Best New Musical" and Natasha was personally nominated on BROADWAYWORLD.COM for Best Female Performance in a Featured Role - perhaps a universal sign that she had made the right choice. </p>
            
            <p>Today, the Toronto native works as a multi-talented artist best known for her sultry voice and sarcastic sense of humour. She has appeared on MTV LIVE, at the Toronto Fringe Festival, the New York Sketch Festival, and has been working professionally on commercials, music videos, short films, and in children's theatre. Most recently, Natasha is famous (or infamous) for starring in the viral web series Carmilla as the heart-throb vampire of the same name. The show is produced by Smokebomb Entertainment at Shaftesbury Films and first aired on Verve Girl Magazine's YouTube channel in Fall 2014. Since then, it has reached over eleven million views worldwide and both the series and Natasha are nominated for Shorty Awards for best web show and favourite actress.</p>
            
            <p>Off camera, Natasha is always working on something. She makes puppets, creates music, and is writing a book for children. She also divides her spare time with volunteering at The Centre for Addiction and Mental Health, playing recreational softball, and fostering rescue dogs. Her interests include: eating all of the things and drinking all of the coffee.</p>
        </main>
        
        <aside>
            <a href="http://vmsmithillustration.tumblr.com/">
                <img src="../images/natasha.jpeg" alt="Natasha ">
            </a>
            <p>Illustration of Natasha by Kristen Miller.</p>
        </aside>    
    
    </section>
</body>
</html>