<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>Blog</title>
        <link rel="stylesheet" href="css/blog-styles.css" />
    </head>

<body>
    <section id="blog">
    	<main>
            <article>
                <h1>Stormtroopers Have No Idea What They're Doing</h1>
                <p><a href="kotaku.com/luke">Luke Plunkett</a> and 6 others</p>
                <img src="../images/stormtroopers.png" alt="Stormtroopers">
                <p>Dude second-from-left is just “haha what is going on”. This piece is by Martin Parker, who is a freelance artist based in the UK. <a href="http://kotaku.com/stormtroopers-have-no-idea-what-theyre-doing-1702992275">» 5/07/15 9:00pm</a></p>
                
            </article>
            
            <article>
                <h1>More Stormtroopers Have No Idea What They're Doing</h1>
                <p><a href="kotaku.com/luke">Luke Plunkett</a> and 6 others</p>
                <img src="../images/stormtroopers.png" alt="Stormtroopers">
                <p>I needed a second post here. I hope you like Stormtroopers <a href="http://kotaku.com/stormtroopers-have-no-idea-what-theyre-doing-1702992275">» 5/07/15 9:00pm</a></p>
                
            </article>
        </main>
    
        <aside>
            <h2><em>Trending on Kinja</em></h2>
            <ol>
                <li>
                    <img src="../images/allnatural.png" alt="All-Natural">
                    <a href="link.com"><h1>The B*llsh*t Hypocrisy of "All-Natural" Foods</h1></a>
                    <a href="gawkerlink.com">on Gawker</a>
                </li>
                
                <li>
                    <a href="link.com"><h1>Dad Calls Cops on Son to Teach Him a Lesson, Cops Shoot Son Dead</h1></a>
                    <a href="gawkerlink.com">on Gawker</a>
                </li>
                
                <li>
                    <a href="link.com"><h1>This Masterful Scene From <i>Lord Of The Rings</i> Gives Me Chills Every Time</h1></a>
                    <a href="io9.com">on io9</a>
                </li>
            </ol>
        </aside>
	</section>
</body>
</html>