<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>Contact</title>
        <link rel="stylesheet" href="css/contact-styles.css" />
    </head>
    
<body>    
    <section id="contact">
    
        <h1>Contact</h1>
        
        <address>
            Ghost Games<br>
            Kvarnbergsgatan 2<br>
            411 05 GÖteborg
        </address>
        <dl>
            <dt>T</dt>
            <dd>+46 (0)31 33 35 000</dd>
            
            <dt>E</dt>
            <dd>infogothenburg@ea.com</dd>
        </dl>
        
        <address>
            Ghost Games<br>
            Onslow House<br>
            Onslow Street<br>
            Guildford, Surrey<br>
            GU14TN
        </address>
        
        <dl>
            <dt>T</dt>
            <dd>+44 (0)1483 634000</dd>
        </dl>
        
        <address>
            Ghost Games<br>
            O4F Vasile Milea Blvd.<br>
            Afi Park 2<br>
            Bucharest 6<br>
            Romania 061344
        </address>
        
        <dl>
            <dt>T</dt>
            <dd>+40 (0)317 810 100</dd>
        </dl>
        
        <ul>
            <li><a href="https://twitter.com/ghostgamesea" id="twitter">@GhostGamesEA</a></li>
            <li><a href="https://www.facebook.com/GhostGamesEA" id="facebook">/GhostGamesEA</a></li>
    	</ul>
    </section>
</body>
</html>