<!DOCTYPE html>
<html>

	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>Call To Action</title>
        <link rel="stylesheet" href="css/cta-styles.css" />
    </head>
    
<body>
    <section id="cta">
    
        <h1>It all starts with a domain name.</h1>
        <article>
            <h2>Find your<br>
            perfect name</h2>
            <p>From classic domain names like <strong>.com</strong> and <strong>.org</strong> to new domain names like <strong>.club</strong>, <strong>.guru</strong>, even <strong>.rocks</strong>, we can help you find the right name for your business.</p>
            
            <a href="log-in.html">Get Started</a>
            <p id="credit"><strong>Candis Jones</strong>, Business Owner & GoDaddy Customer, TheJonesMarket.com</p>            
        </article>
    
    </section>
</body>
</html>