<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>Features</title>
        <link rel="stylesheet" href="css/features-styles.css" />
    </head>

<body>

    <section id="features">
    
        <h1>Key Features</h1>
        
        <section id="basic-features">
        
            <h2>Easy Setup</h2>
            <p>Connect to your home network with a simple setup, guided by the free companion app on Fire OS, Android, iOS, and desktop browsers.</p>
            
            <h2>Fast Wi-Fi</h2>
            <p>Echo is always on and connected to Wi-Fi so it's ready to respond instantly.</p>
            
            <h2>Bluetooth-enabled</h2>
            <p>Stream your favorite music services like Spotify, iTunes, and Pandora from your phone or tablet.</p>
            
        </section>
        
        <section id="more-features">
        
            <h2>Just Ask</h2>
            <p>Echo is always ready, connected, and fast. Just say the wake word, "Alexa," for:</p>
            <ul>
                <li><strong><em>New</em> - Connected Home:</strong> Control compatible WeMo and Philips Hue <a href="http://www.amazon.com/gp/feature.html?docId=1003003051">devices</a> with your voice.</li>
                <li><strong><em>New</em> - Pandora:</strong> Listen to and discover music from Pandora's library of over 1 million tracks.</li>
                <li><strong><em>New</em> - Traffic:</strong> Hear commuting time and the fastest route to your destination.</li>
                <li><strong><em>New</em> - Sports:</strong> Ask for sports scores and schedules from the NFL, NBA, MLS, MLB, and more.</li>
                <li><strong>Music:</strong> Listen to your Amazon Music Library, Prime Music, TuneIn, and iHeartRadio.
    </li>
                <li><strong>News, weather, and information:</strong> Hear up-to-the-minute weather and news from a variety of sources, including local radio stations, NPR, and ESPN from TuneIn.</li>
                <li><strong>Questions and answers:</strong> Get information from Wikipedia, definitions, answers to common questions, and more.</li>
                <li><strong>Alarms, timers, and lists:</strong> Stay on time and organized with voice-controlled alarms, timers, shopping, and to-do lists.</li>
                <li><strong>More coming soon:</strong> Echo automatically updates through the cloud with new services and features.</li>
            </ul>
        
        </section>
    
    </section>
</body>
</html>