<!DOCTYPE html>
<html>

	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>Header</title>
        <link rel="stylesheet" href="css/header-styles.css" />
    </head>
    
<body>    
    <header>
        
        <h1>
            <a href="home.html">
                <strong>Tiger</strong> Challenge
            </a>
        </h1>
    
        <nav>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="map.html">Map</a></li>
                <li><a href="rating.html">Rating</a></li>
                <li><a href="how-to.html">How To</a></li>
                <li><a href="log-in.html">Log In</a></li>
            </ul>
        </nav>
    
        <ul id="side">
            <li><a href="run4tiger.com/donate" id="donate">Donate</a></li>
            <li><a href="run4tiger.com/eng" id="highlight">Eng</a></li>
            <li><a href="run4tiger.com/rus">Rus</a></li>
        </ul>
    </header>
</body>    
</html>