<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>Log In</title>
        <link rel="stylesheet" href="css/login-styles.css" />
    </head>

<body>
    <form>
        <label for="email">
            Email Address
            <input type="text" id="email">    
        </label>
        
        <label for="password">
            Password
            <a href="forgotpass.html">Forgot Password?</a>
            <input type="text" id="password">    
        </label>
        
        <input type="submit" value="Log In">
        <label><input type="checkbox"> Stay Logged In</label>
        
    </form>
</body>
</html>