<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>Store</title>
        <link rel="stylesheet" href="css/store-styles.css" />
    </head>

<body>

	<section id="store">
        <article>
            <a href="http://www.shopgearbox.com/apparel/tshirts/number-zer0-tee.html">
                <img src="../images/zer0.jpg" alt="Zer0">
                <h1>Number Zer0 Tee</h1>
                <p><s>$20.00</s></p>
                <p>$15.00</p>
                <p>View</p>
            </a>
        </article>
        <article>
            <a href="http://www.shopgearbox.com/apparel/tshirts/robot-punch-city-tee.html">
                <img src="../images/robotpunchcity.jpg" alt="Robot Punch City">
                <h1>Robot Punch City Tee</h1>
                <p>$20.00</p>
                <p>View</p>
            </a>
        </article>
        <article>
            <a href="http://www.shopgearbox.com/apparel/tshirts/rub-a-dub-trap-tee.html">
                <img src="../images/rubadubtrap.jpg" alt="Rub-A-Dub-Trap">
                <h1>Rub-A-Dub-Trap Tee</h1>
                <p><s>$20.00</s></p>
                <p>$15.00</p>
                <p>View</p>
            </a>
        </article>
        <article class="out-of-stock">
            <a href="http://www.shopgearbox.com/apparel/tshirts/space-science-tee.html">
                <img src="../images/lasers.jpg" alt="Lasers">
                <h1>Space Science Tee</h1>
                <p><s>$20.00</s></p>
                <p>$9.99</p>
                <p>Out Of Stock</p>
            </a>
        </article>
        <article>
            <a href="http://www.shopgearbox.com/apparel/tshirts/tediore-tee.html">
                <img src="../images/tediore.jpg" alt="Tediore">
                <h1>Tediore Tee</h1>
                <p><s>$20.00</s></p>
                <p>$15.00</p>
                <p>View</p>
            </a>
        </article>
        <article>
            <a href="http://www.shopgearbox.com/apparel/tshirts/torgue-tee.html">
                <img src="../images/torgue.jpg" alt="Torgue">
                <h1>Torgue Tee</h1>
                <p><s>$20.00</s></p>
                <p>$15.00</p>
                <p>View</p>
            </a>
        </article>
        <article>
            <a href="http://www.shopgearbox.com/apparel/tshirts/vladof-tee.html">
                <img src="../images/vladof.jpg" alt="Vladof">
                <h1>Vladof Tee</h1>
                <p>$20.00</p>
                <p>View</p>
            </a>
        </article>
        <article>
            <a href="http://www.shopgearbox.com/apparel/tshirts/wolf-companion-drone-tee.html">
                <img src="../images/wolfcompaniondrone.jpg" alt="Wolf Companion Drone">
                <h1>Wolf Companion Drone Tee</h1>
                <p><s>$20.00</s></p>
                <p>$9.99</p>
                <p>View</p>
            </a>
        </article>
    </section>

</body>
</html>