body{
	font-family: Helvetica;
	font-weight: 100;
	background-color: #D9D9D9;
}

/*-----FORM------*/
form{
	margin: 0 auto;
	width: 340px;
	padding: 40px 30px 30px;
	background-color: #fff;
	border-radius: 5px;
}

form label{
	position: relative;
	color: #808689;
	display: block;
	font-size: 0.7em;
}

form a{
	position: absolute;
	bottom: 59px;
	right: 0;
	color: #b0b3b5;
	font-size: 0.6em;
	text-decoration: none;
}

form input[type=text]{
	width: 100%;
	height: 38px;
	border-radius: 5px;
	border: solid 1px #d9d9d9;
	margin: 5px 0px 10px 0px;
}

form input[type=submit]{
	font-size: 1em;
	color: #FFF;
	text-shadow:  0 1px 1px rgba(0, 0, 0, 0.1);
	letter-spacing: 1px;
	width: 100%;
	height: 59px;
	background-color: #91c945;
	border-radius: 5px;
	border: none;
	border-bottom: solid 2px #78AD32;
	margin: 20px 0;
}

/*------ANIMATION-----*/
form a:hover{
	color: #0093da;
}