header{
	margin-bottom: 30px;
}

img{
	max-width: 100%;
	margin-bottom: 10px;
	max-height: 850px;
	border: 2px solid #eee;
}

article section{
	padding: 15px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 1.2em;
	background-color:#EBEBEB;
}

.container{
	width: 800px;
}